:root {
  --lch_primary_clear_blue: #00acbb;
  --lch_primary_clear_blue_dark: #00a0af;
  --lch_primary_dark_grey: #75787c;
  --lch_primary_grey: #97999b;
  --lch_primary_light_grey: #efeeee;
  --lch_secondary_blue: #00687f;
  --lch_secondary_orange: #f89b25;
  --lch_secondary_yellow: #f4d44c;
  --lch_secondary_purple: #904198;
  --lch_secondary_green: #86cba1;
  --lch_secondary_dark_blue: #183964;
}

.lch_dropdown {
  border: none;
  border-radius: 2px;
  background: grey;
  color: white;
  fill: #2c2c2c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page_title {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  /*border-radius: 2px;*/
  padding: 10px;
  border: none;
  color: white;
  background-color: grey;
}

.fxc_title {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  width: 250px;
  top: 10px;
  left: 10px;
  padding: 10px;
  border: none;
  color: white;
  background-color: grey;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fxc_gfx {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lch_card {
  rx: 2;
  ry: 2;
}

.lch_card text {
  fill: white;
  mix-blend-mode: difference;
  display: table-cell;
  vertical-align: middle;
  text-anchor: middle;
  alignment-baseline: central;
}

.bidline {
  fill: green;
  fill-opacity: 0.15;
  stroke-opacity: 0.5;
  stroke: green;
  stroke-width: 2px;
}

.askline {
  fill: none;
  stroke-opacity: 0.5;
  stroke: green;
  stroke-width: 2px;
}

.title {
  font: 15px sans-serif;
  font-weight: bold;
}

.dumbBo {
  stroke-width: 2px;
}

.dumbAsk {
  fill: red;
  fill-opacity: 0.3;
}

.dumbBid {
  fill: blue;
  fill-opacity: 0.3;
}

.bar {
  fill: none;
  stroke-opacity: 0.5;
  stroke: none;
  stroke-width: 1px;
}

.dumbbell {
  fill: none;
  stroke-opacity: 0.5;
  stroke: none;
  stroke-width: 2px;
}

.dumbbell:hover {
  fill: none;
  fill-opacity: 0.7;
  stroke-opacity: 0.5;
  stroke: orange;
  stroke-width: 2px;
}

.sub_list_item {
  margin-left: 15px;
  color: grey;
}

.side_bar {
  /*background: lightgrey;*/
  border: 2px;
}

div.tooltip {
  box-shadow: 3px 3px 1px grey;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 2px;
  border: 1px solid grey;
  font: 10px sans-serif;
  background: white;
  border-radius: 8px;
  pointer-events: none;
}

.collapse {
  visibility: hidden;
}

.collapse.show {
  visibility: visible;
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}
