{% extends "blueprint.html" %}
{% set active_main_page = 'forex' %}

{% set fancy_side_bar = [
    ('Home', 'fa-home', url_for('forex_home_page'),[]),
    ('Submissions', 'fa-tachometer', url_for('forex_market_quality_page'), [
        ('Member Quality', 'fa-users', url_for('forex_member_quality_page')),
        ('Data Quality', 'fa-heartbeat', url_for('forex_market_quality_page')),
        ]),
    ('MarketData', 'fa-line-chart', url_for('forex_market_quality_page'),[
        ('Spot', 'fa-money', url_for('forex_market_quality_page')),
        ('Forwards', 'fa-money', url_for('forex_market_quality_page')),
    ]),
] -%}

{% block main_content %}

  <div class="wrapper">

    <!-- Sidebar Holder -->
    <nav id="sidebar">


      <div style="text-align: right">
        <i id="sidebarCollapseBtn" class="collapse_menu--icon fa fa-fw" style="cursor: pointer;"></i>
      </div>

      <div class="sidebar-header">
        <h3>ForexClear</h3>
        <strong>FX</strong>
      </div>


      <ul class="list-unstyled components">
        {% for menu, icon, url, sub_items in fancy_side_bar %}
          <li>
            {% if sub_items|length >0 %}
              <a href="#{{ menu }}" data-toggle="collapse" aria-expanded="false" class="sidebar-submenu">
                <i class="fa {{ icon }}"></i>
                {{ menu }}
              </a>
              <ul class="collapse list-unstyled" id="{{ menu }}">
                {% for sub_item, sub_icon, sub_url in sub_items %}
                  <a href={{ sub_url }}><i class="fa {{ sub_icon }}"></i>{{ sub_item }}</a>
                  <li>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a href= {{ url }}>
                <i class="fa {{ icon }}"></i>
                {{ menu }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content" style="width:100%;">

      {% block forex_content %}
      {% endblock %}

    </div>

  </div>

  <script type="text/javascript">
      $(document).ready(function () {
          $('#sidebarCollapseBtn').on('click', function () {
              $('#sidebar').toggleClass('active');
          });
      });
  </script>

{% endblock %}

